.formulario{
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


